#subNavCustom {
    background: #F24030 !important;
}

.originalPostAvatar {
    margin-left: -10px !important;
}

.neighborAvatar {
    margin-left: -30px !important;
}

#notice {
    background: #bfbfbf !important;
}

/* Search bar */
input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 100%;
}

.nav-link{
    display: inline;
}