* {
  box-sizing: border-box;
}

body {
  background: url("https://i.imgur.com/6MwReSQ.jpg");
  background-position: center bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100%;
  width:100%;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  height: 100%;
  width: 100%;
}

form {
  margin-top: 10px;
}
