footer {
  font-size: 13px;
  text-align: center;
  border-top: 4px solid #fff;
  bottom: 0;
  height: 15px;
  position: relative;
  
  width: 100%;
}

.page-footer {
  background-color: #FCBF32;
  padding-top: 0px;
}
.page-footer .footer-copyright {
  min-height: 0px;
  background-color: #FCBF32;
  color: #000;
  padding-top: 5px;
  padding-bottom: 5px;
}
